.estimateContainer{
    height: 100vh;
    background-color: #edf6f9;
    width: 100%;
    overflow-y: scroll;
    
}
.EstimatSearchJob{
    background-color: white;
    width: 45%;
    margin: 20px;
    margin-left: 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.1);
}
.estimateTitle{
    margin: 10px auto;
    /* margin-bottom: 20px; */
    background-color: #004e89;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color: white;
}
/* .estimateTitles{
    margin: 10px;
    margin-bottom: 5px;
    color: #ef233c;
    margin-top: 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
} */
.estimateSheet{
    background-color: white;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.1); */
}


.estimateInput{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30rem;
    font-size: 17px;
    font-weight: bold;
    color: #004e89;
}
.amountContainer{
    background-color: white;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.1);
}
.paymentTitle{
    margin: 10px;
    margin-bottom: 20px;
    color: #ef233c;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
.priceBtns{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 10px;
}
.companyBtn{
    width: 15rem;
    border-radius: 8px;
    border: none;
    background-color: #38a3a5;
    padding: 5px;
}
.insuranceBtn{
    width: 15rem;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #778da9;
}
.companyBtn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.insuranceBtn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.btnSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.previewInvoiceBtn{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #4c956c;
    font-weight: bold;
}
.previewReportBtn{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #004e89;
    font-weight: bold;
}
.previewInvoiceBtn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.previewReportBtn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
